@charset "utf-8";
@import url("http://static.ebiznetworks.co.kr/css/webfont.css"); /*나눔고딕 웹폰트 적용*/
body {font-size:13px; line-height:21px; font-family:'나눔고딕', NanumGothic, 'Nanum Gothic', sans-serif; color:#848484; }
a { cursor: pointer; }
a:link {text-decoration:none; color:#848484}
a:visited {text-decoration:none; color:#848484}
a:hover {text-decoration:none; color:#ff6d16}
a:active {text-decoration:none; color:#848484}



#wrapper {margin:auto; width:100%;}


/* header */
#header{width:970px; height:105px; margin:auto;}
#top {width:970px; height:30px}
#top_menu {width:100px; margin-top:10px; font-size: 11px; float:right}
#Home {float:left; margin-top:2px}
#Home a{display:block; width:15px; height:13px; background:url(http://img.ebiznetworks.co.kr/btn_home.gif) 0 0 no-repeat; text-indent:-99999px}
#Home a:hover{background-position:0 -13px}
#ContactUS {float:right; display:block;}

#gnb {width:970px; height:75px;}
#logo {width:181px; height:61px;  float:left;}
#menu {width:789; height:40px; margin-top: 30px; font-size:1.6em; color:#333; font-weight:700; float:right;}
#menu li{float:left; margin-left:40px}
#company {display:block; text-align:center}
#business {display:block; text-align:center}
#recruit {display:block; text-align:center}
#press {display:block; text-align:center; }
.menu {text-decoration:none; color:#333}
.menu a:link, a:visited {text-decoration:none; color:#333}
.menu a:hover, a:active {text-decoration:none;color:#F60}

#sub_bnr{width:100%; height:100px; text-align:center; float:left; margin-bottom: 50px; background-color:#000000}

/* center */
#center{width:970px; margin:auto;}
#container{width:970px; float:left}

/* left  */
#left {width:230px; float:left}
.ttl{font-size: 35px; color:#333; font-weight:700; line-height: 37px;}
.eng {font-size: 20px; color:#bbb; letter-spacing: 5px; line-height: 30px; margin-left:3px}

#left_menu{float:left; width:100%; margin-top:25px}
#left_menu li{clear:both; float:left; width:100%; line-height:3; font-size:14px}
#left_menu li a{color:#666666; padding:4px}
#left_menu li a:hover{color:#ff6d16;}
#left_menu li ul{margin-left:6px}
#left_menu li ul li{font-size:12px}
#left_menu li ul li a:hover{color:#ff6d16; background:none}

.util #left_menu .util{color:#ffffff; background-color:#ff6d16}
.award #left_menu .award{color:#ffffff; background-color:#ff6d16}
.association #left_menu .association{color:#ffffff; background-color:#ff6d16}
.social #left_menu .social{color:#ffffff; background-color:#ff6d16}
.donation #left_menu .donation{color:#ffffff; background-color:#ff6d16}


#business_top{float:left; margin-bottom:30px}
#business_main{float:left; width:100%;}
#business_main dl{float:left; width:100%; padding-top:35px; padding-bottom:20px; border-top:1px solid #e6e6e6}
#business_main dl.first{border:none}
#business_main dl dt{float:left}
#business_main dl dd{float:right; width:480px}
#business_main dl dd h3.blue{font-size:20px; font-weight:bold; color:#2ba3df}
#business_main dl dd h3.orange{font-size:20px; font-weight:bold; color:#ff6d16}
#business_main dl dd p{text-align:justify; line-height:1.8}
#business_main dl dd span{font-size:14px; color:#3d3d3d; font-weight:bold; line-height:2.8}

#contect_us{float:left; width:100%; margin-bottom:30px; border-top:1px solid #666666; border-bottom:1px solid #e6e6e6; padding:25px 0 25px 0}
#contect_us dl{float:left; margin-left:15px}
#contect_us dl.first{margin-right:25px}
#contect_us dl dt{color:#ff7726; font-size:16px}
#contect_us dl dd{clear:both; margin-top:20px}
#contect_us dl dd p{font-size:12px; color:#7f7f7f}
#contect_us dl dd p span{color:#3d3d3d; font-size:14px; line-height:2}
#contect_us dl dd p a{color:#1f4bc3; text-decoration:underline}
#daum_map{float:left; margin-top:40px}



/* contents */
#contents{width:740px; float:left}
#contents_ttl {height: 100px; font-weight: bold; color:#4d4d4d}
#company_text {width: 424px; float:left; margin-top:50px; padding-right:15px; display:block; text-align:justify}
#company_img {width: 301px; float:left; margin-top:50px; display:block;}
.no1_company{float:left; font-size:16px; background-color:#ff6d16; color:#ffffff; font-weight:600; display:block;}
.top_text{clear:both; float:left; margin-top:8px;}
.top_text span{color:#0231bb; background-color:#def4f5}
#best_software{margin-top:30px; float:left}
#best_software p{font-size:16px; font-weight:600; margin-bottom:15px}
#best_software p span{color:#ff6d16; text-decoration:underline}
#company_info{float:left; margin-top:30px;}


/* footer */
#footer{width:100%; height:160px; float:left;  border-top:1px solid #ccc;  margin:70px 0 10px 0; background-color:#f5f5f5}
#footer #copyright {position:relative; width:970px; height:100px; margin:auto; display:block; padding-top:35px;}
#footer #copyright p{float:left; clear:both;}
#footer #copyright .mark{clear:both; float:left; margin-top:10px}
#footer #copyright .mark2{position:absolute; right:0}
#family_site{float:right}
#footer_menu{float:Left}
#footer_menu p{font-size:12px;}
#footer_menu li{float:left; font-size:13px; margin-right:20px; padding-bottom:13px; font-weight:bold}


/* bbs*/
#board {float:left; width: 740px;}
#board .bbs{width:100%; border-collapse:collapse; border-spacing:0; }
#board .bbs th {height: 30px; text-align:center;  background-color:#5a7783; color:#FFF}
#board .bbs .num {text-align:center;}
#board .bbs .subject {}
#board .date {text-align:center;}
#board .bbs td {height:35px;  border-bottom:1px solid #cccccc}
#board .bbs .page_num{text-align:center; border-bottom:0}
#board .bbs .page_num p{margin-top:30px}
#board .bbs .page_num a{display:inline-block; padding:2px 8px 2px 8px; border:1px solid #d2d2d2}
#board .bbs .page_num a:hover{color:#ffffff; border:1px solid #C93; background-color:#ff6d16}
#board .bbs .page_num .page-select{color:#ffffff; border:1px solid #C93; background-color:#ff6d16}
#board .bbs .page_num .first{padding:2px 5px 2px 5px}
#board .bbs .page_num .end{padding:2px 5px 2px 5px;}

#board_view  {width: 740px; }
#view_basis{width: 740px; height: 70px}
.view_subject{float:left; width:710px; height:30px; padding:0 15px 0 15px; background-color:#5a7783; color:#FFF; font-size:14px; font-weight: bold; line-height: 28px}
.view_date {width:170px; height:30px; line-height:2.4; float:left; display:block; padding-left:15px; border-bottom:1px solid #cccccc}
.view_inquiry {width:555px; height:30px; line-height:2.4; float:left; display:block; border-bottom:1px solid #cccccc}
.view_content{width:680px; float:left; padding:30px; border-bottom:1px solid #cccccc; text-align: justify; }
.button{clear:both;text-align:right;}
.button .list{width:71px; height:31px; margin-top:15px; margin-bottom:30px; border:0; background:url(http://img.ebiznetworks.co.kr/btn_list.gif) 0 0 no-repeat; text-indent:-99999px; cursor:pointer}
.view_bottom{width:710px; height:30px; line-height:2.4; float:left; display:block; padding:0 15px 0 15px; border-bottom:1px solid #cccccc}
.view_bottom .next{float:left; font-weight:bold; margin-right:15px}
.view_bottom .prev{float:left; font-weight:bold; margin-right:15px}
.view_bottom .f_subject{float:left; width:580px;}
.view_bottom .day{float:right;}
#board_search{height:40px; display:inline; display:block; float:right}
#board_search .btn_search{width:61px; height:25px; border:0; background:url(http://img.ebiznetworks.co.kr/btn_search.gif) 0 0 no-repeat; text-indent:-99999px; cursor:pointer}
#board_search input{width:155px; height:21px; border:1px solid #cccccc}
#board_search select{width:88px; height:25px; border:1px solid #cccccc}

#family_site { width:100px;position:absolute; right:0; top:-1px; font-size:12px}
#family_list { border:1px solid #dddddd; min-height:200px; display:none;position:absolute;bottom:20px;left:0;border-bottom:none;background:#ffffff}
#family_list .fam_btn { padding:0px 3px 0px 3px; cursor:hand; height:20px; width:90px; }
.fam_btn_m { width:90px; padding:0px 3px 0px 3px; cursor:hand; height:20px; border:1px solid #dddddd; background-color:#ffffff}

#main_bnr{
	max-width:1980px;
	min-width:970px;
	height:480px;
	margin:auto;
	background-image:url(http://img.ebiznetworks.co.kr/main_banner.jpg);
	background-position:center 0;
	background-repeat:no-repeat;
	text-indent:-99999px;
	background-color:#000000
}
/* 메인 로고 픽스_20170208_강혜준 */
#i_logo {position: fixed; top: 546px; right: 3%; width: 195px; height: 32px; background:url(http://img.ebiznetworks.co.kr/ebiz_ditower.png) no-repeat;}
@media all and (min-width: 980px){ #i_logo {right: 7%;} }
@media all and (min-width: 1920px){	#i_logo {right: 25%;} }

#m_conteiner{width:100%}
#m_contents{width:970px; margin:auto; margin-top:40px}
#m_news{float:left; width:305px}
#m_news .more{float:right}
#m_news h2{float:left; font-size:18px; font-weight:600; color:#222222}
#m_news ul{clear:both; width:305px; float:left; margin-top:20px}
#m_news ul li{line-height:2; font-size:12px;}

#m_business{float:left; width:620px; margin-left:45px}
#m_business h2{float:left; font-size:18px; font-weight:600; color:#222222}
#m_business .more{float:right}
#m_business p{float:left; margin-left:20px}
#m_business ul{clear:both; width:620px; float:left; margin-top:30px}
#m_business ul li{float:left; margin-left:18px; margin-right:18px}
#m_business ul .software{width:85px; height:85px; background:url(http://img.ebiznetworks.co.kr/business_icon.gif) 0 0 no-repeat; text-indent:-99999px; cursor:pointer}
#m_business ul .software:hover{background-position:0 bottom}
#m_business ul .game{width:85px; height:85px; background:url(http://img.ebiznetworks.co.kr/business_icon.gif) -85px 0 no-repeat; text-indent:-99999px; cursor:pointer}
#m_business ul .game:hover{background-position:-85px -85px}
#m_business ul .mall{width:85px; height:85px; background:url(http://img.ebiznetworks.co.kr/business_icon.gif) -170px 0 no-repeat; text-indent:-99999px; cursor:pointer}
#m_business ul .mall:hover{background-position:-170px -85px}
#m_business ul .kt{width:85px; height:85px; background:url(http://img.ebiznetworks.co.kr/business_icon.gif) -255px 0 no-repeat; text-indent:-99999px; cursor:pointer}
#m_business ul .kt:hover{background-position:-255px -85px}
#m_business ul .apt{width:85px; height:85px; background:url(http://img.ebiznetworks.co.kr/business_icon.gif) -340px 0 no-repeat; text-indent:-99999px; cursor:pointer}
#m_business ul .apt:hover{background-position:-340px -85px}

/*부동산임대업*/
#esset_table th{text-align:center; color:#4f4f4f; font-weight:600; border-top:1px solid #000000; border-bottom:1px solid #cccccc; background-color:#e6e6e6}
#esset_table td{border-bottom:1px solid #cccccc}
#esset_table td.b_right{border-right:1px solid #cccccc}
#esset_table td a{float:left; margin-left:60px}
#esset_table td p{margin-left:20px}


#m_company_info{clear:both; float:left; width:100%; border-top:1px solid #dadada; margin-top:30px}
#mono_tower{float:left; width:305px; margin-top:40px;}
#mono_tower h2{float:left; font-size:18px; font-weight:600; color:#222222}
#mono_tower .more{float:right}
#mono_tower_img{clear:both; float:left; width:100%; margin-top:20px}
#mono_tower_img img{float:left}
#mono_tower_img p{float:left; margin-left:15px}
#mono_tower_img p span{color:#e75d01; font-weight:bold}

#social_contribution{float:left; width:305px; margin-top:40px; margin-left:45px}
#social_contribution h2{float:left; font-size:18px; font-weight:600; color:#222222}
#social_contribution .more{float:right}
#social_contribution_img{clear:both; float:left; width:100%; margin-top:20px}
#social_contribution_img img{float:left}
#social_contribution_img p{float:left; margin-left:15px}
#social_contribution_img p span{color:#e75d01; font-weight:bold}

#m_recruit{float:left; margin-top:40px; margin-left:45px}
#m_recruit h2{float:left; font-size:18px; font-weight:600; color:#222222}
#m_recruit #m_recruit_img{clear:both; float:left; margin-top:10px}


/*class*/
.p_t_50 {padding-top: 50px;}
.p_b_30 {padding-bottom: 30px;}
.p_tb_30 {padding: 30px 0 30px 0;}
.p_tb_10 {padding: 10px 0 10px 0;}
.p_15 {padding: 15px;}
.orange {color:#F60}
.b {font-weight: bold}
.d_gray {color:#555}
.ttl_18 {font-size: 18px; font-weight:600;letter-spacing:-1px; line-height: 20px; padding: 30px 0px 20px 0px}
.ttl_22 {font-size: 22px; font-weight: bold;letter-spacing:-1px; line-height: 25px;}
.ttl_30 {font-size: 30px; font-weight: bold; letter-spacing:-1px; line-height: 35px;}
.ttl_40 {font-size: 40px; font-weight: bold; letter-spacing:-1px; line-height: 45px;}
.cont {width: 740px}

/*협회가입현황*/
#association_main{width:740px;; margin-top:8px}
#association_main h4{float:left}
#association_main dl{float:left; margin-top:30px; margin-bottom:50px}
#association_main dl dt{float:left; width:170px; text-align:center}
#association_main dl dd{float:left; width:550px}
#association_main dl dd p{margin-top:10px; line-height:1.7; text-align:justify;}
#association_main dl dd p span{font-weight:normal; color:#0231bb; background-color:#def4f5}

/*수상 및 인증실적*/
#award_main{width:740px;; margin-top:8px}
#award_main h4{float:left}
#award_main dl{float:left; margin-top:30px; margin-bottom:50px}
#award_main dl dt{float:left; width:170px; text-align:center}
#award_main dl dd{float:left; width:550px}
#award_main dl dd p{margin-top:10px; line-height:1.7; text-align:justify;}
#award_main dl dd p span{font-weight:normal; color:#0231bb; background-color:#def4f5}

/*소프트웨어 기부안내*/
#donation_main{clear:left; float:left; width:740px; margin-top:8px;}
#donation_main h4{float:left; margin-top:45px}
#donation_main #donation_info{float:left; margin-top:15px;  margin-left:20px; width:710px; height:222px; background:url(http://img.ebiznetworks.co.kr/donation_bg.gif) right 10px no-repeat}
#donation_main #donation_info h5{clear:both; float:left; margin-top:20px;}
#donation_main #donation_info p{clear:both; float:left; margin-top:10px; line-height:1.5}
#donation_main #software{clear:both; float:left; width:100%; margin-top:15px}
#donation_main #software li{float:left; width:246px; margin-top:15px; text-align:center;}
#donation_main #software li p{margin-top:10px; line-height:1.5}
#donation_main #software li p span{font-weight:bold}
#donation_main #sponsor{clear:both; float:left;  width:100%; margin-top:20px} 
#donation_main #sponsor li{float:left; width:185px}
#donation_main #sponsor li p{width:100%; text-align:center}
.donation_top_img {text-align:center;width:100%;padding-top:60px;clear:left}

/*사회공헌*/
#social_contribution_main{clear:both; float:left; width:740px;; margin-top:8px}
#social_contribution_main h4{float:left}
#social_contribution_main dl{float:left; margin-top:30px; margin-bottom:50px}
#social_contribution_main dl dt{float:left; width:170px; text-align:center}
#social_contribution_main dl dd{float:left; width:550px}
#social_contribution_main dl dd p{margin-top:10px; line-height:1.7; text-align:justify;}
#social_contribution_main dl dd p span{font-weight:bold; color:#2b96a8}
#missingchild_main{clear:both; float:left; width:740px;; margin-top:42px;}
#missingchild_main .m_l60{margin-left:60px}

#software{width:740px}
#software img{float:left}
#game{width:740px}
#game img{float:left}
#game .nolzzang_SiteBox{position:relative;width:740px;height:112px;}
#game .nolzzang_SiteBox p.nolzzang_Site {position:absolute;width:95px;height:32px;right:18px;bottom:11px;}
#game .game_list{width:740px;height:auto;overflow:hidden;min-height:500px;}
#game .game_list ul {width:740px;height:auto;margin-top:34px;}
#game .game_list ul li p.game_img{width:391px;height:133px;float:left;margin-top:0px;}
#game .game_list ul li div.game_intro{width:331px;height:auto;float:right;margin-top:5px;}
#game .game_list ul li div.game_intro p.game_class{height:25px;float:left;margin-right:12px;font-size:27px;font-weight:700;line-height:25px;color:#484848;}
#game .game_list ul li div.game_intro span.game_siteURL{height:25px;font-size:16px;line-height:33px;font-weight:600;color:#2e2e2e;border-bottom:1px solid #2e2e2e;}
#game .game_list ul li div.game_intro span.s_intro{clear:both;display:block;font-size:15px;font-weight:700;color:#5a5a5a;padding:8px 0 1px 0px;}
#game .game_list ul li div.game_intro p.story_box{padding-top:3px;font-size:13px;color:#444444;}
#game .game_list ul li div.game_intro img{display:block;margin:5px 0px;}
#game .game_list p.dotted_line{clear:both;width:740px;height:36px;border-bottom:1px dashed #e2e2e2;}
#game .game_list div.grayBox {display:inline-block;width:740px;height:auto;background:#ececec;}
#game .game_list div.grayBox ul {display:inline-block;margin-left:5px;width:734px;}
#game .game_list div.grayBox ul  li div.game_intro{width:330px;height:auto;float:right;}
#game .game_list div.grayBox  ul li div.game_intro img{display:block;}

#shopping_mall{width:740px}
#shopping_mall img{float:left}
#kt_agency{width:740px}
#kt_agency img{float:left}
#real_eatate{width:740px;}
#real_eatate img{float:left; margin-bottom:1px}


/*지적재산권*/
#sub_title{float:left; width:100%; height:45px; background-color:#ffffff; margin-top:20px; border-top:1px solid #000000}
#sub_title h2{float:left; font-size:16px; font-weight:600; color:#464646; margin-top:10px; margin-left:10px}
#sub_title p{float:right; margin-top:10px; color:#464646; margin-right:10px}
#sub_title #view_change{float:right; margin-top:13px}
#sub_title #view_change li{float:left}
#sub_title #view_change li .img_view{display:block; width:17px; height:17px; margin-left:5px; margin-right:7px; background:url(http://img.ebiznetworks.co.kr/img_view.gif) 0 0 no-repeat; text-indent:-99999px;}
#sub_title #view_change li .list_view{display:block; width:17px; height:17px; margin-right:13px; background:url(http://img.ebiznetworks.co.kr/list_view.gif) 0 0 no-repeat; text-indent:-99999px;}
#sub_title #view_change li a:hover{background-position:0 -17px}
#sub_text{float:left}
.b_blue{background-color:#def4f5; color:#0231bb}
#trademark{float:left; width:100%; margin-top:1px;}
#trademark ul{float:left; width:100%;}
#trademark ul li{float:left; width:184px; height:248px; position:relative; margin-right:1px; margin-bottom:1px; background-color:#e6e6e6}
#trademark ul li a{position:relative; float:left; width:184px; height:248px;}
#trademark ul li .over{display:none; position:absolute; left:0; width:184px; height:248px; text-align:center; color:#ffffff; background-color:#ff6d16; cursor:pointer}
#trademark ul li .over h3{width:164px; margin-left:10px; font-size:15px; font-weight:600; margin-top:65px; margin-bottom:15px}
#trademark ul li .over p{line-height:1.4; color:#ffd7bf; margin-bottom:5px}
#t_mark_table{float:left; margin-bottom:20px}
#t_mark_table th{text-align:center; color:#4f4f4f; font-weight:600; border-top:1px solid #000000; border:1px solid #cccccc; background-color:#e6e6e6}
#t_mark_table td{border:1px solid #cccccc}
#t_mark_table td a{color:#0093d8; text-decoration:underline}
#t_mark_table td p{margin-left:20px}

#trademark_tab{clear:both; float:left; width:100%; margin-top:15px}
#trademark_tab li{float:left; margin-right:1px}
#trademark_tab li a{display:block; width:245px; height:38px; color:#848484; text-align:center; line-height:2.8; background-color:#e6e6e6}
#trademark_tab li a:hover{background-color:#5a7783; color:#ffffff}/*지적재산권 분류탭 추가*/
#trademark .no_image{text-align:center; margin-top:60px}


/*사회공헌 신규 2015-03-05*/
#donation_main2 .donation_title{float:left; font-size:18px; font-weight:600; color:#555555; margin-top:30px}
#donation_main2	.donation_sub_title{clear:both; float:left; font-size:18px; color:#4d4d4d; font-weight:600}
#donation_main2	.donation_sub_title span{color:#ff6d16}
#donation_main2	.donation_text{clear:both; width:740px; float:left; margin-top:10px}
#donation_main2	#donation_tb{clear:both; float:left; width:740px; margin-top:10px; border-top:1px solid #333333}
#donation_main2	#donation_tb th{border:1px solid #cccccc; border-left:none; background-color:#f8f8f8; text-align:center}
#donation_main2	#donation_tb td{border:1px solid #cccccc; border-right:none; padding-left:20px}

#donation_main2 #donation_software{float:left; width:740px; margin-top:10px;}
#donation_main2 #donation_software li{float:left; width:147px; margin-right:1px}
#donation_main2 #donation_software li.an a{display:block; width:147px; height:147px; background:url(http://img.ebiznetworks.co.kr/donation_an.jpg) no-repeat 0 0; text-indent:-99999px}
#donation_main2 #donation_software li.star a{display:block; width:147px; height:147px; background:url(http://img.ebiznetworks.co.kr/donation_star.jpg) no-repeat 0 0; text-indent:-99999px}
#donation_main2 #donation_software li.daemon a{display:block; width:147px; height:147px; background:url(http://img.ebiznetworks.co.kr/donation_daemon.jpg) no-repeat 0 0; text-indent:-99999px}
#donation_main2 #donation_software li.badak a{display:block; width:147px; height:147px; background:url(http://img.ebiznetworks.co.kr/donation_badak.jpg) no-repeat 0 0; text-indent:-99999px}
#donation_main2 #donation_software li.pcclear a{display:block; width:147px; height:147px; background:url(http://img.ebiznetworks.co.kr/donation_pcclear.jpg) no-repeat 0 0; text-indent:-99999px}
#donation_main2 #donation_software li a:hover{background-position:0 -147px}
#donation_main2 .software_list{height:100px; border-bottom:1px solid #cccccc}
#donation_main2 .software_list a{color:#848484}
#donation_main2 .software_list a:hover{color:#ff6d16}

#donation_main2 .software_list2{float:left; margin-top:10px; width:740px; height:140px; border-top:1px solid #000; border-bottom:1px solid #cccccc}
#donation_main2 .software_list2 a{color:#848484}
#donation_main2 .software_list2 a:hover{color:#ff6d16}
#donation_main2 .software_list2 th{height:44px; border-bottom:1px solid #cccccc; border-right:1px solid #cccccc;  background-color:#f8f8f8; padding-left:18px; color:#303030}
#donation_main2 .software_list2 td{padding-left:10px; border-right:1px solid #cccccc; }
#donation_main2 .software_list2 .last{border-right:0}

#donation_main2 #organization{float:left; margin-top:10px; width:740px;}
#donation_main2 #organization li{float:left; width:236px; height:82px; background-color:#f0f0f0; border:1px solid #cccccc; margin-right:13px; margin-bottom:13px;}
#donation_main2 #organization li.empty{width:238px; height:84px; margin-right:0; border:0}

#donation_main2 #organization2{float:left; margin-top:10px; width:740px; border-top:1px solid #d2d2d2;}
#donation_main2 #organization2 dl{width:738px; height:180px; border:1px solid #d2d2d2; border-top:0}
#donation_main2 #organization2 dl dt{float:left; margin-left:15px; margin-top:15px}
#donation_main2 #organization2 dl dd{float:left; margin-left:15px; margin-top:15px}
#donation_main2 #organization2 dl dd p{margin-top:12px}


#donation_main2 #sum{float:left; width:740px; height:62px; background:url(http://img.ebiznetworks.co.kr/sum_bg.jpg) 0 0 no-repeat}
#donation_main2 #sum p{float:left; line-height:2.1; font-size:20px; color:#6c969b; margin-left:120px;}
#donation_main2 #sum span{font-size:28px; color:#ff6d16; font-weight:bold}
#donation_main2 #sum a{float:right; margin:9px 11px 0 0}
#donation_main2 #donation_popup{clear:both; float:left; position:relative; margin-top:1px}

/*2015이비즈 병역특례 및 일반 채용공고*/
#header .recruit_top_text{float:left; margin-left:45px}
#ebiz_incruit{width:100%}
.incruit_tab{position:absolute; width:100%; height:73px; background-color:#ebebeb; border-top:1px solid #999999; border-bottom:1px solid #999999;}
.incruit_tab.sticky {position:fixed; top:0;}
.incruit_tab ul{width:970px; margin:auto}
.incruit_tab ul li{float:left}
.incruit_tab ul li.announcement a{width:485px; height:73px; display:block; background:url(http://img.ebiznetworks.co.kr/recruit_tab1.jpg) 0 0 no-repeat; text-indent:-99999px;}
.incruit_tab ul li.announcement.on a{background-position:0 -73px}
.incruit_tab ul li.ebiznetworks_info a{width:485px; height:73px; display:block; background:url(http://img.ebiznetworks.co.kr/recruit_tab2.jpg) 0 0 no-repeat; text-indent:-99999px;}
.incruit_tab ul li.ebiznetworks_info.on a{background-position:0 -73px}
.incruit_tab ul li a:hover{background-position:0 -73px}
#ebiz_incruit  #recruit_contents01{width:100%; background-color:#0066cb; padding-top:73px;}
#ebiz_incruit  #recruit_contents01 .contents01_img1{width:1120px; margin:auto;  }
#ebiz_incruit  #recruit_contents02{width:1120px; margin:auto}
#ebiz_incruit  #recruit_contents03{width:100%; background:url(http://img.ebiznetworks.co.kr/recruit_img3_bg.jpg) 0 73px repeat-x; }
#ebiz_incruit  #recruit_contents03 .contents03_img1{width:1120px; margin:auto; padding-top:73px}